<ion-view view-title="Score Keeper" hide-nav-bar="false">
  <ion-content>

    <div class="nav-margin card">
      <div class="item item-divider item-calm">
        Welcome to Score Keeper!
      </div>
      <div class="item item-text-wrap">
        Score Keeper is a . . . score keeping app.  Currently we only allow score keeping for games of Ping Pong, but plan on adding more games and features soon.
      </div>
      <div class="item item-divider item-calm">
        Click below to create a new game!
      </div>

      <button class="button button-block button-royal" ng-click="goToCreateGamesPage()">
        o͡͡͡╮໒( •̀ ‿ •́ )७╭o͡͡͡
      </button>

      <div class="item item-divider item-calm">
        Or click below here to watch!
      </div>

      <button class="button button-block button-positive" ng-click="goToLiveGamesPage()">
        <!-- ( ͡☉ ͜ʖ ͡☉)͡ -->
        <!-- ( ʘ̆ ╭͜ʖ╮ ʘ̆ ) -->
        <!-- ( ͡° ͜ʖ ͡°) -->
        ┴┬┴┤( ͡° ͜ʖ├┬┴┬
      </button>
    </div>

  </ion-content>
</ion-view>
