<ion-view view-title="Create a Game!">
  <ion-content>

  <div class="list card">

    <div class="item item-avatar">
      <img src="img/ping-pong.jpeg">
      <h2>Ping Pong</h2>
      <p>Its in the Olympics. Seriously!</p>
    </div>

    <a href="#/app/createGame/pingPong">
    <div class="item item-image">
      <img src="img/ping-pong.jpeg">
    </div>

    <div class="item item-icon-left assertive" href="#">
      <i class="icon ion-play"></i>
      Choose Your Ping Pong Game Settings!
    </div>
    </a>

  </div>

  </ion-content>
</ion-view>
