
<ion-view view-title="Score Keeper" hide-nav-bar="false">

  <ion-header-bar class="bar-stable bar-balanced">
    <h1 class="title">Menu</h1>
  </ion-header-bar>

  <ion-content>

  <div class="card">
    <div class="item item-text-wrap">
      Welcome to Score Keeper.  Please login or create an account to keep score or watch games.
    </div>
  </div>

    <form ng-submit="doLogin(loginData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>

    <div class="list">
      <label class="item">
        <span class="item item-input">Not a user? (∩╹□╹∩)</span>
        <button class="button button-block button-calm" type="submit" ng-click="goToRegisterPage()">Register</button>
      </label>
    </div>

  </ion-content>
</ion-view>
