<ion-view view-title="Watch a Game!">
  <ion-content>

    <div class="card list">
      <div class="item item-divider">
        Your Live Games
      </div>

      <a ng-repeat="game in liveGameList" href="#/app/myGames/{{game.gameTypeLinkName}}/{{game.gameId}}">
        <div class="item item-avatar">
          <img src="{{game.gamePicUrl}}">
          <h2>{{game.gameName}} - {{game.team1Name}} vs {{game.team2Name}}</h2>
          <p>{{game.gameType}}</p>
        </div>
      </a>
    </div>

    <div class="card list">
      <div class="item item-divider">
        Your Past Games
      </div>

      <!-- <a ng-repeat="game in liveGameList" href="#/app/myGames/{{game.gameTypeLinkName}}/{{game.gameId}}">
        <div class="item item-avatar">
          <img src="{{game.gamePicUrl}}">
          <h2>{{game.gameName}} - {{game.team1Name}} vs {{game.team2Name}}</h2>
          <p>{{game.gameType}}</p>
        </div>
      </a> -->
    </div>

    <ul>
      <li>Live Games</li>
      <li>Past Games</li>
      <li>Your Scores</li>
    </ul>
  </ion-content>
</ion-view>
