<ion-view view-title="Watch a Game!">
  <ion-content>

    <div class="card list">
      <div class="item item-divider">
        Your Live Games
      </div>

      <a ng-repeat="game in liveGameList" href="#/app/myGames/pingPong/{{game.gameId}}">
        <div class="item item-avatar">
          <img src="{{game.gamePicUrl}}">
          <h2>{{game.gameType}}</h2>
          <p>Its in the Olympics. Seriously!</p>
        </div>
      </a>
    </div>

    <div class="card">
      <div class="item item-divider">
        Your Live Games Test
      </div>
      <div class="item item-text-wrap">
        ng repeat the users live games they are hosting
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    </div>

    <ul>
      <li>Live Games</li>
      <li>Past Games</li>
      <li>Your Scores</li>
    </ul>
  </ion-content>
</ion-view>
