<ion-view view-title="Past Games">
  <ion-content>
    <h1>Past games</h1>
    <p>List past games</p>

    <div class="list liveGameDiv">

      <a ng-repeat="(key, value) in pastGames" class="item item-thumbnail-left" href="#/app/pastGames/{{value.gameTypeLinkName}}/{{key}}">
        <img src="{{value.gamePicUrl}}">
        <h2>{{value.gameName}}</h2>
        <p>{{value.gameType}}</p>
        <p>{{value.team1Name}} vs {{value.team2Name}}</p>
      </a>

    </div>

    <p>Maybe implement sorting by game</p>
    <p>sort by player - alphabetical</p>
    <p>sort by player - most wins</p>
    <p>sort by player - most losses</p>
    <p>sort by high score</p>
  </ion-content>
</ion-view>
