<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Game Complete!</h1>

  </ion-header-bar>
  <ion-content>

      <div class="list">

        <div class="item item-divider">
          The winner is . . .
        </div>

        <p class="item">
          Team {{currentGame.winningTeam}}!
        </p>

        <div class="item item-divider">
          Score
        </div>

        <p class="item">
          <span>{{currentGame.team1Name}}: </span>{{currentGame.team1Points}}
        </p>

        <p class="item">
          <span>{{currentGame.team2Name}}: </span>{{currentGame.team2Points}}
        </p>

      </div>

      <div class="button-bar">
        <a class="button button-calm" ng-click="closeWinnerModal()">Wait! Its not over!</a>
        <a class="button button-assertive" ng-click="endGame()">Good Game!</a>
      </div>

  </ion-content>
</ion-modal-view>
